@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}  

body {
        background-image: linear-gradient(to right, #27E32D, #2F6330);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1e3f1fd3;
    width: 600px;
    padding: 10px;
    margin: auto
}

h1{
    color: #1FB224;
    text-align: center;
    text-shadow: 1px 1px 2px, #0f6312bd;
}

h2{
    color: #6DE871;
}

p {
    text-align: justify;
}
 